.hero_bg_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/abaut_banner_img.png);
  margin-bottom: 64px;
}

.cart_content {
  margin-bottom: 20px;
}
.cart_content2 {
  margin-bottom: 64px;
}
.cart_title {
  color: #159eec;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 16%;
  text-align: center;

  margin-bottom: 8px;
}
.cart_title2 {
  color: #1f2b6c;
  font-family: Yeseva One;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 64px;
}
.OurDoctor {
  margin-bottom: 32px;
}

//
.banner_contianer_box_icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  background-color: #bfd2f8;
  cursor: pointer;
}
.banner_contianer_box {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 128px;
}
.cart_content {
  justify-content: center;
  margin-bottom: 32px;
}
.Contact_cart {
  margin-bottom: 64px;
}
.jcs {
  justify-content: center;
}
