@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

body {
    background: #FCFEFE;
    scroll-behavior: smooth;
}

.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}