@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

body {
    background: #FCFEFE;
    scroll-behavior: smooth;
    font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

body {
  scroll-behavior: smooth;
  background-color: #fcfefe;
  font-family: Work Sans;
}
