.contact_card__main {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
}

.concard_main {
  width: 243px;
  padding: 52px 60px 50px 30px;
  border-radius: 5px;
  background-color: rgb(191, 210, 248);
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: rgb(31, 43, 108);
    transition: 0.3s;
  }

  &:hover .concard_main__title {
    color: #fff;
  }
  &:hover .concard_main__text1 {
    color: #fff;
  }
  &:hover .concard_main__text2 {
    color: #fff;
  }
}

.concard_main__title {
  color: rgb(31, 43, 108);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 10px 0;
}

.concard_main__text1 {
  color: rgb(31, 43, 108);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  white-space: nowrap;
  padding-bottom: 5px;
}
.concard_main__text2 {
  color: rgb(31, 43, 108);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  white-space: nowrap;
}
